@model AlbumProject.Models.Song


@{
    string fullName = ViewData.TemplateInfo.GetFullHtmlFieldName(""); // Songs[0]
    string index = fullName.Substring(fullName.IndexOf('[') + 1);
    index = index.Substring(0, index.IndexOf(']')); // ค่าจะเป็น "0", "1", ...
}

@if (!Model.IsDeleted)
{
    <tr>
        <td>
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.HiddenFor(m => m.IsDeleted) <!-- ต้องอยู่ข้างในด้วย -->
        </td>
        <td>
            <button type="submit" name="RemoveId" value="@Model.Id" class="btn btn-danger btn-sm">Remove</button>

        </td>
    </tr>
}
else
{
    
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.IsDeleted)
}
